<header class="w-100">
    <nav class="navbar w-100 justify-content-between p-1" id="myNavbar">
            <a class="navbar-brand" href="/" style="color: white;font-size: 1.5rem; font-weight: 700;">Countries of the World</a>
            <span class="score">
                <span class="score" id="punkte"></span>/<%= countryData.length %>
            </span>
    </nav>
</header>