<header class="w-100">
    <nav class="navbar w-100 justify-content-between p-1" id="myNavbar">
            <a class="navbar-brand" href="/flags" style="color: white;font-size: 1.5rem; font-weight: 700;">Flags of the World</a>
            <span class="score">
                <%=answers.length%>/<%= countryData.length %>
            </span>
    </nav>
</header>