<header class="w-100">
    <nav class="navbar bg-primary w-100" id="myNavbar">
        <div class="d-flex">
            <a class="navbar-brand" href="/" style="color: white;font-size: 1.5rem; font-weight: 700;">Countries of the World</div>
            <a href="/flags" style="color: white; text-decoration: none; font-size: 2rem; font-weight: 600;">Flags of the World!</a>
            <span class="score">
                <%=answers.length%>/<%= countryData.length %>
            </span>
        </div>
    </nav>
</header>