<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main class="container-fluid flaggen-main">
        <h1 class="flaggen-h1 w-100 text-center" style="color: black;"> Flags of the World </h1>
         <div class="container-fluid flaggen-container row-gap-5 column-gap-3">
            
           <%for( let i = 0; i < countryID.length; i++ ) { %>
                <div class="FlagAndInput">
                    <img  class="flag" draggable="false" src="https://flagcdn.com/h240/<%= countryID[i].toLowerCase() %>.png">
                    <input type="text" name="inputFlag" class="inputFlag" id="<%=countryID[i]%>">
                </div>
            <%} %>
        </div>
        </main>
        <script src="flags.js"></script>
    </body>
</html>