<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapQuiz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Länder der Welt ENG</h1>
    </header>
    <form action="/" method="post">
        <input type="text" name="land">
        <input type="submit" value="Submit">
    </form>
    <div class="map">
        <object type="image/svg+xml" data="images/world.svg">
        </object>
    </div>
</body>
</html>