<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapQuiz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="map">
        <object type="image/svg+xml" data="images/world.svg">
        </object>
    </div>
</body>
</html>